<div id="login-container">
  <h1>Log In</h1>
  <%= form_tag '/login' do %>
    <%= label_tag("email", "E-mail:") %>
    <%= text_field_tag :email %><br>
    <%= label_tag("password", "Password:") %>
    <%= password_field_tag :password %><br>
    <div id="button-set">
      <%= submit_tag 'Log In' %>
      <button id="create-account-button">
        <a href='/sign-up'>Sign Up</a>
      </button>
    </div>
  <% end %>

  <br>

  <% if flash[:notice] %>
    <div id='login-error' class='alert alert-success'>
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>
