<%= stylesheet_link_tag "roller" %>
<%= javascript_import_module_tag "roller" %>

<h1>Dice Roller</h1>
<p>
  <a id='view-rolls-link' href='/rolls'>View past rolls</a>
</p>
<div>
  <h3>Pick a die:</h3>
  <%= form_tag('/roll', id: 'roll-form', local: true) do %>
    <%# 
    Loop through possible types of dice and list a radio for each.
    When the page loads or redirecting to this page, D20 should be the 
    default selection. Otherwise if you're rolling, the currently selected
    type should remain when the page updates. 
    %>
    <% @die_types.each do |d| %>
      <%= radio_button_tag(
        :type,
        d,
        (
          flash[:radio_selection] == d ||
            (flash[:radio_selection] == nil && d == "D20")
        )
      ) %>
      <%= label_tag("type_#{d}", d) %>
      <br>
    <% end %>
    <%= label_tag(:info, "Optional Info:") %><br>
    <%= text_field_tag(:info) %>
    <br>
    <%= submit_tag("Roll") %>
  <% end %>

  <%# Show the roll result if there is one to show %>
  <% if flash[:roll_result] %>
    <p id='roll-result'>Roll Result:
      <%= flash[:roll_result] %></p>
  <% end %>

</div>
