<%= stylesheet_link_tag 'roller' %>

<h1>Dice Roller</h1>
<div>
  <h3>Pick a die:</h3>
  <%= form_tag('/roll', id: 'roll-form') do %>
    <%= radio_button_tag(:type, 'D4') %>
      <%= label_tag(:type_D4, 'D4') %>
    <br>
    <%= radio_button_tag(:type, 'D6') %>
      <%= label_tag(:type_D6, 'D6') %>
    <br>
    <%= radio_button_tag(:type, 'D8') %>
      <%= label_tag(:type_D8, 'D8') %>
    <br>
    <%= radio_button_tag(:type, 'D10') %>
      <%= label_tag(:type_D10, 'D10') %>
    <br>
    <%= radio_button_tag(:type, 'D12') %>
      <%= label_tag(:type_D12, 'D12') %>
    <br>
    <%= radio_button_tag(:type, 'D20') %>
      <%= label_tag(:type_D20, 'D20') %>
    <br>
    <%= radio_button_tag(:type, 'D100') %>
      <%= label_tag(:type_D100, 'D100') %>
    <br>
  <% end %>

  <%= button_tag('Roll', id: 'roll-button') %>
</div>