<%= stylesheet_link_tag "roller" %>

<div id="roller-wrapper" data-controller="roller">
  <h1 id="dice-title">Dice Roller</h1>

  <div id="roller-window">
    <div id="roller-controls">
      <div id="roller-control-panel">
        <button id='view-rolls-button'>
          <a id="view-rolls-link" href='/rolls'>Roll History</a>
        </button>
        <%= form_tag("", id: "roll-form") do %>
        <%# 
          Loop through possible types of dice and list a radio for each.
          When the page loads or redirecting to this page, D20 should be the 
          default selection. Otherwise if you're rolling, the currently selected
          type should remain when the page updates. %>
          <% @die_types.each do |d| %>
            <%= radio_button_tag(
              :type,
              d,
              (
                flash[:radio_selection] == d ||
                  (flash[:radio_selection] == nil && d == "D20")
              )
            ) %>
            <%= label_tag("type_#{d}", d) %>
          <% end %>
          <%= label_tag(:info, "Optional Info:") %>
          <%= text_area_tag :info, nil, id: "optional-info" %>
          <%= submit_tag("Roll", id: "roll-button") %>
        <% end %>
      </div>
    </div>

    <%= content_tag(:canvas, "", data: { controller: "threejs" }, id: "three-canvas") %>
    <%# Three.js 3D canvas will be attached here%>
    <div id="three-main"></div>
  </div>
</div>

<%# Show the roll result if there is one to show %>
<div id="roll-result-container">
  <div id="results-background">
    <div id='roll-result'></div>
    <div id="roll-result-die" class='roll-result-info'></div>
    <div id="roll-result-info" class='roll-result-info'></div>
  </div>
</div>

<button id="logout-button">
  <a href="/logout">Logout</a>
</button>
