<%= stylesheet_link_tag 'rolls' %>

<div id='rolls-wrapper'>
  <h1>Rolls for
    <%= @user.email %> (<%= @rolls_count %>)</h1>
    <button id='roll-dice-button'>
      <a id='roll-dice-link' href='/roller'>Roll more dice</a>
    </button>
  <% if @rolls_count > 0 %>
    <div id='table-wrapper'>
      <table id='rolls-table'>
        <tr>
          <th>Type</th>
          <th>Value</th>
          <th>Time</th>
          <th>Info</th>
        </tr>
        <% @rolls.each do |roll| %>
          <tr>
            <td><%= roll.die_type %></td>
            <td><%= roll.value %></td>
            <td><%= roll.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%m/%d/%Y %l:%M%P %Z') %></td>
            <td><%= roll.info %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <% end %>
</div>
